[Desktop Entry]
Icon=text-html
Name=32078372-creamos-el-home-page-del-proyecto-en-html
Type=Link
URL[$e]=https://www.mastermind.ac/courses/take/php-y-la-web-desde-cero/lessons/32078372-creamos-el-home-page-del-proyecto-en-html
X-KDE-LastOpenedWith=firefox
