[Desktop Entry]
Icon=text-html
Name=logo.png
Type=Link
URL[$e]=https://raw.githubusercontent.com/mastermindac/curso-php/c470bc89fea74e36db3a255a5710f22b6fd7d9ed/static/img/logo.png
X-KDE-LastOpenedWith=firefox
